* {
  font-family:  tahoma serif;
}

.name {
  font-size: 24px;
  text-transform: bold;
}

.contact {
  height: 300px;
  width: 800px;
  
}

#smog {
  float: right;
  position: absolute;
  top: 35px;
  right: 55px;
  height: 120px;
  width: 100px;
  border: 1px solid white;
  border-radius: 5%;
}
