* {
font-family: 'Raleway', sans-serif;
}

hr {
  margin-right: 40px;
  margin-left: 40px;
}

h2 {
  font-size: 18px;
  text-transform: bold;
  margin: 25px;
}

p {
  margin: 25px;
}
    /* Header */
.name {
  font-size: 24px;
  text-transform: bold;
  padding-bottom: -10px;
  margin: 25px;
}
    /* Contact info */
.contact { 
  margin: 25px;
}

.contact p {
  line-height: 2;
  margin: 25px;
}
    /* Picture */
#smog {
  float: right;
  position: absolute;
  top: 45px;
  right: 55px;
  height: 180px;
  width: 150px;
  border: 1px solid white;
  border-radius: 10%;
}
    /* Education info */
.education {
}
    /* Work info */
.work {
  line-height: .5;
}

.dates {
  text-align: right;
  display: inline-block;
}
